body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
h2{
    margin-bottom: -10px;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    display: grid;
    grid-template-areas: "first-offer first-offer second-offer second-offer"
    "category category category category"
    "table table table table" ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 230px 100px 200px;
}
.items{
    text-align: center;
    background-color: cadetblue;
    margin:0px 5px 10px 5px;
    
}
.oferta-uno{
    background-image: url(https://picsum.photos/200/200/?blur);
    text-align: left;
    grid-area: first-offer;
    margin-right: 5px;
    padding-left: 30px;
}
.oferta-uno h2{
margin-top: 60px;
}
.oferta-dos{
    background-image: url(https://picsum.photos/200/200/?blur);
    text-align: left;
    grid-area: second-offer;
    margin-left: 5px;
    padding-left: 30px;
}
.oferta-dos h2{
margin-top: 60px;
}
.button{
    background-color: green;
    color: white;
    margin: 20px auto ;
    padding: 12px;
    margin-left: 0px;
    margin-right: 450px;
    font-weight: bold;
    text-align: center;
}
.categorias{
    grid-area: category;
    background-color: transparent;

}
table{
    grid-area: table;
    text-align: center;
    border: 10px;
    border: 1px;
    border-radius: 40px;
    margin-top: -60px;
    border-spacing: 20px;
    
}
.resaltado{
    color: green;
}
.vegetales{
    grid-area: vegetale;
    background-color: transparent;
}

.zumos{
    grid-area: jugo;
    background-color: transparent;
}
.carne{
    grid-area: empanada;
    background-color: transparent;
}
.frutas{
    grid-area: fruta;
    background-color: transparent;
}
.lower-button{
    background-color: green;
    margin-left: 30px;
    margin-right: 30px;
    padding: 8px;
    color: white;
}